@import 'src/styles/base';

.heading {
	background-color: #f0f0f0;
	border-radius: 5px 5px 0 0;
}

.paragraph {
	background-color: white;
	border-radius: 0 0 5px 5px;
}

.heading > p {
	font-size: 2em;
	line-height: 1em;
	margin: 0 2vw;
	color: #4A4A4A;
	text-align: center;
	padding: 20px 30px;
	font-family: "Montserrat", sans-serif;
}

.paragraph > div {
	clear: both;
}

.paragraph > p{
	padding: 40px 30px;
}

/*.paragraph > button {
	font-size: 2vh;
	color: white;
	background-color: $applyBlue;
	border: 2px solid $applyBlue;
	border-radius: 2.85vh;
	width: 17.5vh;
	height: 5vh;
	float: right;
	margin: 0 4vw 3vw 0;
}*/

@media only screen and (min-width: 768px) {
	.paragraph > p {
		padding: 4vw 4vw;
	}

	.heading > p {
		padding: 2vw 4vw;
	}
}

/*@media only screen and (min-width: 1280px) {
  .paragraph > button {
		border-radius: 2.85vh;
		width: 17.5vh;
		height: 5vh;
  }
}*/
