@import 'src/styles/base';

.section {
  padding-top: 20px;
}

.sectionText {
  text-align: left;
  padding-top: 5px;
  color: $aboutBlack;
  line-height: 2em;
  font-size: 1em;
}

.link {
  padding: 0;
  cursor: pointer;
}