@import './navbar';

$applyGray: #D8D8D8;
$applyBlue: #2AA2F7;
$aboutBlack: #4A4A4A;
$headerGray: #CDCCCE; 
$footerBlack: #302F30;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;

$headerBig: 5em;
$headerSmall: 3em;