.navbar-inverse {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
  margin-left: 25px;
  margin-right: 25px;
  color: #000000;
}

.navbar-inverse .navbar-nav > li > a:visited,
.navbar-inverse .navbar-nav > li > a:link,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:active {
  color: #000000;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-inverse .navbar-toggle {
  background-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #FFFFFF;
}