@import 'src/styles/base';

@font-face {
    font-family:'FontAwesome';src:url('https://static.hsappstatic.net/content_shared_assets/static-1.3779/fonts/fontawesome-webfont.eot?v=4.1.0');src:url('https://static.hsappstatic.net/content_shared_assets/static-1.3779/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),url('https://static.hsappstatic.net/content_shared_assets/static-1.3779/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),url('https://static.hsappstatic.net/content_shared_assets/static-1.3779/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),url('https://static.hsappstatic.net/content_shared_assets/static-1.3779/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal
}

.footerBackground {
  background-color: $footerBlack;
  height: 200px;
}

.contact {
  text-align: center;
}

.mlh {
  position: absolute;
  left: 5vw;
  height: 1vh;
}

.mlhPartner {
  padding-top: 50px;
  position: absolute;
  right: 5vw;
  height: 2vh;
}

.contactContainer {
  padding-left: 0;
  text-align: center;
  padding-top: 50px;
}

.footerIcon, .footerIcon:visited, .footerIcon:link, .footerIcon:active {
  cursor: pointer;
  padding: 20px;
  color: #FFFFFF;
  font-size: 2em;
}

.footerIcon:hover {
  color: darken(#FFFFFF, 20%);
}

.copyright {
  padding-top: 30px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1px;
}


@media (max-width: $tabletBreakpoint) {

  .mlh {
    display: none;
  }

  .mlhPartner {
    display: none;
  }

}
