@import 'src/styles/base';

.footerBackground {
  background-color: $footerBlack;
  height: 200px;
}

.contact {
  text-align: center;
}

.mlh {
  position: absolute;
  left: 5vw;
  height: 1vh;
}

.mlhPartner {
  padding-top: 50px;
  position: absolute;
  right: 5vw;
  height: 2vh;
}

.contactContainer {
  padding-left: 0;
  text-align: center;
  padding-top: 50px;
}

.footerIcon, .footerIcon:visited, .footerIcon:link, .footerIcon:active {
  cursor: pointer;
  padding: 20px;
  color: #FFFFFF;
  font-size: 2em;
}

.footerIcon:hover {
  color: $applyBlue;
}

.copyright {
  padding-top: 30px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1px;
}


@media (max-width: $tabletBreakpoint) {

  .mlh {
    display: none;
  }

  .mlhPartner {
    display: none;
  }

}
