@import 'src/styles/base';

.container {
	width: 100vw;
	height: 100%;
	background-size: 100% 100%;
	background-image: url('static/tracks.png');
	background-repeat: no-repeat;
}

.tracks {
	padding: 50px 0 50px 0;
}

.tracksHeader {
	line-height: 1em;
	color: white;
	font-size: 64px;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.tracksText {
	color: white;
	line-height: 2em;
	margin: 0 15px;
	padding: 2em 0 0 0;
	text-align: left;
}

@media (min-width: 768px) {

	.tracksHeader {
		font-size: 72px;
	}

	.tracksText {
		width: 55%;
		padding: 3em 0 0 0;
		margin: 0 auto;
		text-align: center;
	}

}

@media (min-width: 1024px) {
	
	.container {
		width: 100vw;
		height: 100%;
	}
	
	.tracks {
		padding: 100px 0;
	}

	.tracksHeader {
		font-size: 5.5em;
	}

	.tracksText {
		width: 40%;
		padding: 3em 0 0 0;
	}

}
