
.container {
	width: 100vw;
	height: 200vh;
	background-size: cover;
	background-image: url('static/hackduke-background2.png');
	background-repeat: no-repeat;

}

.tracks {
	padding: 20vh 0 0 0;
}

.tracks h1 {
	line-height: 1em;
	color: white;
	font-size: 10vh;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 0;
	text-align: center;
}

.tracks > p {
	color: white;
	width: 37%;
	line-height: 2em;
	margin: 0 auto;
	padding: 3em 0 0 0;
	text-align: center;
}