@import 'src/styles/base';

.container {
	width: 100vw;
	height: 100%;
	background-size: 100% 100%;
	background-image: url('static/tracks.png');
	background-repeat: no-repeat;
}

.tracks {
	padding: 75px 0;
}

.tracksHeader {
	line-height: 1em;
	color: white;
	font-size: $headerSmall;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.tracksText {
	color: white;
	line-height: 2em;
	margin: 0 12vw;
	padding: 50px 0 0 0;
	text-align: left;
}

@media (min-width: $tabletBreakpoint) {

	.tracksHeader {
		font-size: $headerSmall;
	}

	.tracksText {
		width: 55%;
		margin: 0 auto;
		text-align: center;
	}

}

@media (min-width: $desktopBreakpoint) {
	
	.container {
		width: 100vw;
		height: 100%;
	}

	.tracksHeader {
		font-size: $headerBig;
	}

	.tracksText {
		width: 40%;
	}

}
