@import 'src/styles/base';

.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}

.navItem {
  font-size: 13px;
  letter-spacing: 1.5px;
}

.applyButton {
  cursor: pointer;
  background-color: $applyBlue;
  color: #FFFFF;
  line-height: 48px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  font-size: 10px;
  color: #FFFFFF;
}

.applyButton:hover {
  background-color: darken($applyBlue, 10%);
}

.applyButton:hover, .applyButton:visited, .applyButton:link, .applyButton:active {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: $tabletBreakpoint)  {
  .applyButton {
    display: none;
  }
}
