@import 'src/styles/base';

.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}

.navItem {
  font-size: 13px;
  letter-spacing: 1.5px;
}

.applyButton {
  background-color: $applyBlue;
  color: #FFFFF;
  line-height: 45px;
  padding: 5px 15px 7px 15px;
  border-radius: 10px;
  font-size: 10px;
  color: $applyGray;
}

.applyButton:hover, .applyButton:visited, .applyButton:link, .applyButton:active {
  color: $applyGray;
  text-decoration: none;
}

@media (max-width: 767px)  {
  .applyButton {
    display: none;
  }
}
